.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em 7em;
    background-color: var(--bg-color-nav);
    border-bottom: 1px solid var(--font-color-100);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--logo-color);
}

.sub-title-nav {
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--font-color-200);
}

.mode {
    appearance: none;
    cursor: pointer;
    width: 24px;
    aspect-ratio: 1;
    background-image: url("../images/dark-light.png");
    filter: invert(1);
}
.bn{
    letter-spacing: 2px;
    padding: 6px;
    border-radius: 6px;
    background-color:#7b7b7b;
    color: rgb(27, 26, 26);
    transition: all ease 1ms;
}
.bn:hover{
    background-color:#2a86ff;
    
}
